/ekyc-ida/*.html   @considrd/ekyc-ida-cochairs
/ekyc-ida/*.xml   @considrd/ekyc-ida-cochairs
/ekyc-ida/*.txt   @considrd/ekyc-ida-cochairs
/ekyc-ida/*.md   @considrd/ekyc-ida-cochairs
/ekyc-ida/*.zip   @considrd/ekyc-ida-cochairs

/abconnect/*.html   @considrd/ABConnect-cochairs
/abconnect/*.xml   @considrd/ABConnect-cochairs
/abconnect/*.txt   @considrd/ABConnect-cochairs
/abconnect/*.md   @considrd/ABConnect-cochairs
/abconnect/*.zip   @considrd/ABConnect-cochairs